# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.


[include macros.cfg]
# See docs/Config_Reference.md for a description of parameters.
[include bed_level.cfg]

[include stepper_motors.cfg]

[include extruder.cfg]


[heater_bed]
heater_pin: PD7
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA1
control: pid
pid_kp: 68.628
pid_ki: 1.019
pid_kd: 1155.528
min_temp: 0
max_temp: 130


[include printer_fans.cfg]

[include printer_mcus.cfg]

[printer]
kinematics: cartesian
max_velocity: 400
max_accel: 4000
max_z_velocity: 5
max_z_accel: 100

[include neopixel.cfg]

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE9,  EXP1_7=PE11, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE8, EXP1_6=PE10, EXP1_8=PE12, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.930
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.067500, 0.027500, 0.030000, 0.017500, 0.037500, -0.060000
#*# 	  -0.062500, 0.015000, 0.005000, 0.012500, 0.012500, -0.072500
#*# 	  -0.037500, 0.052500, 0.005000, 0.005000, -0.005000, -0.125000
#*# 	  -0.055000, 0.022500, -0.015000, -0.002500, -0.035000, -0.120000
#*# 	  0.002500, 0.085000, 0.020000, 0.015000, -0.015000, -0.105000
#*# 	  0.015000, 0.062500, 0.017500, -0.017500, -0.062500, -0.192500
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 6.0
#*# max_x = 192.0
#*# min_y = 20.0
#*# max_y = 193.0
