[stepper_x]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: !PC1
position_endstop: -2
position_min:-2
position_max: 233
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PD5
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PA15
dir_pin: !PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 40
endstop_pin: !PC3
position_endstop: -11.0
position_max: 235
position_min: -11.0
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PD0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PE2
dir_pin: PE3
enable_pin: !PE0
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0.0
position_max: 250
position_min: -6.0

[tmc2209 stepper_z]
uart_pin: PE1
run_current: .580
stealthchop_threshold: 999999

[stepper_z1]
step_pin: PD11
dir_pin: PD10
enable_pin: !PD13
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0.0
# position_max: 250
# position_min: -6.0

[tmc2209 stepper_z1]
uart_pin: PD12
run_current: .580
stealthchop_threshold: 999999
